{% extends 'base.html.twig' %}

{% block title %}Match Montage+ | ChatBot {% endblock %}

{% block body %}

<hgroup>
    <h1>A propos de nous</h1>
    <p>Voici quelques mots sur notre projet, notre vision et sa construction.</p>
</hgroup>


<h2>Notre histoire</h2>
<p>
    Notre histoire débute avec un passionné de technologie qui a décidé de créer une plateforme dédiée à faciliter le 
    quotidien de ceux qui cherchent de l'aide pour le montage de meubles. <br>
    Cette application a pris forme pendant des heures dédiées en dehors du bureau, animé 
    par la conviction que la technologie peut rendre les services de montage de meubles plus accessibles et efficaces.
</p>

<hgroup>
    <h3>Pourquoi nous existons</h3>
    <p>
        Nous sommes nés de la nécessité de simplifier un processus parfois fastidieux : 
        le montage de meubles. Notre objectif est de connecter de manière fluide ceux qui 
        ont besoin d'aide pour assembler leurs meubles avec des professionnels ou des passionnés compétents. <br>
        Nous croyons que la technologie peut transformer cette expérience
        souvent stressante en quelque chose de simple, rapide et même agréable.
    </p>
</hgroup>

<hgroup>
    <h3>L'utilité de notre application</h3>
    <p>
        Dans un monde où les agendas sont chargés et où le temps est précieux, 
        notre application offre une solution précieuse. Elle permet à ceux qui cherchent
        de l'aide pour le montage de meubles de trouver rapidement des personnes qualifiées et disponibles. <br>
        C'est une plateforme où la communauté se rassemble pour rendre le processus de montage de meubles aussi 
        sans tracas que possible.
    </p>
</hgroup>


<hgroup>
    <h3>Fonctionnalités Clés</h3>
    <p>
        Explorez notre application pour découvrir des fonctionnalités spécialement conçues pour 
        simplifier le processus de mise en relation et de planification du montage de meubles. 
        De la recherche intuitive de professionnels à la communication fluide, chaque aspect de notre
        application a été pensé pour répondre aux besoins uniques de notre communauté. 
        Nous visons à rendre le montage de meubles aussi simple et efficace que possible. <br><br>
        Nous sommes ravis de partager cette plateforme avec vous, conçue pour faciliter la vie de ceux qui recherchent une aide compétente pour le montage de meubles. Rejoignez-nous dans cette aventure et transformons ensemble la façon dont nous abordons le montage de meubles au quotidien.
    </p>
</hgroup>
</hgroup>

<p>
    Rejoignez-nous dans cette communauté très chaleureuse, simplifiée par la technologie. <br>
    Bienvenue sur Match Montage+, où vos rêves d'une vie plus simple prennent vie.
</p>

{% endblock %}