{% extends 'base.html.twig' %}

{% block title %}Match Montage + | Plans {% endblock %}

{% block body %}

<hgroup>
    <h1>Abonnements</h1>
    <h2>Choisissez l'abonnement qui vous convient.</h2>
</hgroup>

<div class="grid">
    {% for item in Plan %}
    <div>
        <article id="article">
            <h3>
                {{item.nom}}
            </h3>
            <p>
                {{item.description|raw}}
            </p>
    
            <a href="{{item.paymentLink}}" target="_blank">
                <button>S'abonner</button>
            </a>
        
            <footer>
                <small><em>Par Match Montage+</em></small>
            </footer>
        
          </article>
    </div>
    {% endfor %}
</div>

{% endblock %}