{% extends 'base.html.twig' %}

{% block title %}Match Meuble+ | Liste {% endblock %}

{% block body %}

<hgroup>
    <h1>Offres &amp; demandes</h1>
    <p>Voici la liste des offres et demandes de montage de meuble</p>
</hgroup>
{% endblock %}