{% extends 'base.html.twig' %}

{% block title %}Match Montage+ | Formulaire demande pour montage{% endblock %}

{% block body %}

{{ form_start(demandeMontageForm) }}
{{ form_end(demandeMontageForm) }}
<button class="outline"><a href="{{path('app_home')}}">Retour</a></buttton>

{% endblock %}