	<!-- Notre promesse Section + Image Section -->
	<section class="bg-white dark:bg-gray-800">
		<div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
			<div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
				<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Notre promesse</h2>
				<p class="mb-4">Que vous soyez en train de déménager, de rénover ou simplement de chercher de l'aide pour monter un meuble, Match Meuble est là pour vous connecter avec des personnes prêtes à rendre votre tâche plus facile.</p>
				<p>Inscrivez-vous dès aujourd'hui pour découvrir comment Match Meuble facilite la mise en relation, la communication  et la planification, tout en construisant une communauté de passionnés du montage de meubles.
																		Votre solution pour des montages sans souci est à portée de main.</p>
			</div>
			<div class="grid grid-cols-2 gap-4 mt-8">
				<img class="w-full rounded-lg" src="{{ asset('/images/banner-2.png') }}" alt="office content 1">
				<img class="mt-4 w-full lg:mt-10 rounded-lg" src="{{ asset('/images/banner-2.png') }}" alt="office content 2">
			</div>
		</div>
	</section>