	<!-- Témoignages Section -->
	<section class="bg-white dark:bg-gray-900">
		<div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
			{# <div class="mx-auto max-w-screen-sm">
				<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Ils en parlent mieux que nous</h2>
				<p class="mb-8 font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Voici ce que nos utilisateurs pensent de l'outil MatchMeuble.</p>
			</div> #}

			<div id="testimonial-carousel" data-carousel="slide">
				{# <figure class="max-w-screen-md mx-auto">
					<svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewbox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
					</svg>
					<blockquote>
						<p class="text-2xl font-medium text-gray-900 dark:text-white">Une super application conviviale et pratique.<br><br>
							Grâce à Match Meuble, j'ai trouvé un monteur de meubles compétent en un temps record. Cela a rendu mon déménagement bien moins stressant. Je recommande cette application à quiconque a besoin d'aide pour monter ses meubles !
						</p>
						<p class="text-2xl font-medium text-gray-900 dark:text-white">
							D'ailleurs j'ai une amie qui a un événement et doit louer du mobilier, elle sera ravie de savoir que ce service existe Merci à vous !
						</p>
					</blockquote>
					<figcaption class="flex items-center justify-center mt-6 space-x-3">
						<img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
						<div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
							<div class="pr-3 font-medium text-gray-900 dark:text-white">Sophie G.</div>
							<div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">Utilisatrice - MatchMeuble™</div>
						</div>
					</figcaption>
				</figure> #}

				<figure class="max-w-screen-md mx-auto">
					<svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewbox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
					</svg>
					<blockquote>
						<p class="text-2xl font-medium text-gray-900 dark:text-white">Une nouvelle façon d'arrondir mes fins de mois.<br><br>
							J'ai récemment proposé mes services sur Match Meuble et j'ai été surpris de voir à quel point la communauté est accueillante. J'ai pu gagner de l'argent en faisant ce que j'aime, et j'ai rencontré des personnes formidables en cours de route.
						</p>
						<p class="text-2xl font-medium text-gray-900 dark:text-white">
							C'est la plateforme idéale pour créer des liens et partager des compétences. Une expérience incroyable !
						</p>
					</blockquote>
					<figcaption class="flex items-center justify-center mt-6 space-x-3">
						<img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
						<div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
							<div class="pr-3 font-medium text-gray-900 dark:text-white">Maxime L.</div>
							<div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">Technicien de présision - MatchMeuble™</div>
						</div>
					</figcaption>
				</figure>

				<!-- Slider controls -->
				<!-- <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
					<span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
						<svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 6 10">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
						</svg>
						<span class="sr-only">Previous</span>
					</span>
				</button>
				<button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
					<span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
						<svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 6 10">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
						</svg>
						<span class="sr-only">Next</span>
					</span>
				</button> -->
			</div>
		</div>
	</section>

		<!-- Témoignages Section -->